.landing-page {
    width: 100%;
    margin: auto;
}

.landing-grid {
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.header-color {
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar {
    height: 200px;
    padding-top: 5em;
}

.banner-text {
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
    margin-bottom: 4px;
    padding-top: 4px;
}

.banner-text hr {
    border-top: 5px line white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}

.socials i {
    color: white;
    font-size: 5em;
    padding-bottom: 10px;
}

.socials i:hover[class="fa fa-github"] {
    color: #190A05;
}

.socials i:hover[class="fa fa-linkedin"] {
    color: #870000;
}

.portrait-container {
    text-align: center;
}

.portrait {
    width: 200px;
    height: 200px;
    background-image: url('https://avatars1.githubusercontent.com/u/14877763?s=460&v=4');
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    display: inline-block;
}
